<header class="navbar">
        <a href="/"><img src="https://www.pngkit.com/png/detail/128-1285182_software-development-clipart-software-code-landing-page-icon.png" alt="logo"></a>
        <nav class="navbar-itens">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/all">All Devs</a></li>
                <li><a href="/form">Add New</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="container">
                <img class="img-title" src="https://www.pngkit.com/png/detail/128-1285182_software-development-clipart-software-code-landing-page-icon.png" alt="logo">
                <h1>Dev Form</h1>
                
                <div class="cards">
                    <a href="/all">
                        <div class="card">
                            <img src="https://img.icons8.com/ios/500/list--v1.png" alt="listar">
                            <p>Listar todos os Devs</p>
                        </div>
                    </a>

                    <a href="/form">
                        <div class="card">
                            <img src="https://cdn-icons-png.flaticon.com/512/1946/1946423.png" alt="add">
                            <p>Adicionar um novo Dev</p>
                        </div>
                    </a>

                </div>
                

            </div>
    </div>