body {
    background-color: #d4d1d1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

/*navbar*/
.navbar {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar img {
    width: 60px;
    height: 60px;
    float: left;
}

.navbar-itens {
    text-align: right;
}

.navbar-itens ul {
    margin: 0;
}

.navbar-itens li {
    list-style: none;
    display: inline;
    margin: 0px 15px 0px 15px;
}

.navbar a {
    color: black;
    font-size: 15px;
}

.navbar a:hover {
    color: #8d8d8d;
}

/*/navbar*/
.container {
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 80px 40px 40px 40px;
    margin-top: 80px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.container h1 {

    display: inline;
    font-weight: 700;
}

.add {
    float: right;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: 500;
}

.add:hover {
    background-color: black;
    border: none;
    color: white;
}

.container table {
    border-collapse: collapse;
    margin-top: 50px;
}

.container tr {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.container th,
td {
    text-align: left;
    font-size: 12px;

}

.container th {
    font-weight: 700;
    padding: 10px 20px 5px 20px;
    color: gray;
}

.container td {
    font-weight: 500;
    padding: 20px 20px 20px 20px;
}

.bt {
    width: 60px;
    height: 25px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}

.bt:hover {
    background-color: black;
    color: white;
}

.red:hover {
    background-color: red;
    color: white;
    border: none;
}